{% extends 'base.html' %}

{% block title %} Create Workout{% endblock %}

{% block calltoaction %}
<a class="btn btn-primary btn-sm bg-gradient" href="#" role="button"></a>
<a class="btn btn-primary btn-sm bg-gradient" href="#" role="button"></a>
{% endblock %}

{% block content %}
<h2 style="color: forestgreen">
  Create a workout:
</h2>
<!-- FORM -->
<form method="POST" action="">
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  {% csrf_token %}

  {{ form.non_form_errors }}

  {% for field in form %}
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
  {% endfor %}
  
  <p class="pt-2">
    <button type="submit" class="btn btn-primary w-100 mb-2">
      Create workout template
    </button>
    <a href="{% url 'workouts:user-dashboard' %}" role="button" class="btn btn-secondary w-100">
      Return to Dashboard
    </a>
  </p>
</form>

{% endblock content %}