{% extends 'base.html' %}

{% block title %} {{ workoutlog.log_name }}{% endblock %}

{% block content %}

{% if messages %}
<ul class="'messages">
    {% for message in messages %}
    <li>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h3>
    Your template details
</h3>
<div class="d-inline-flex p-2">
    <span class="pe-2">Name: </span>
    <h5>{{ workoutlog.log_name|title }}</h5>
</div>
<hr>
<div class="container">
    {% for data in workouttemplate %}
    <div class="row">
        <div class="col-sm">
            {{ data }}
        </div>
        {% endfor %}
        <a href="{% url 'workouts:user-templates' pk=workoutlog.pk %}" role="button" class="btn btn-primary w-100 mb-2">
            Edit Template
        </a>
        <a href="{% url 'workouts:user-dashboard' %}" role="button" class="btn btn-secondary w-100">
            Return to Dashboard
        </a>
{% endblock content %}