{% extends 'base.html' %}

{% block title %} Edit Workout{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}

    <h3> Edit your Workout </h3>
    {% for workouttemplate_form in form.forms %}
    <hr>
    <h4>
        {% if workouttemplate_form.instance.id %}
        {{ workouttemplate_form.athlete_id }}
        {% endif %}
        {% endfor %}
    </h4>


{% endblock content %}