{% extends 'base.html' %}

{% block title %} Templates{% endblock %}

{% block calltoaction %}
<a class="btn btn-primary btn-sm" href="{% url 'workouts:user-dashboard' %}" role="button">Return to dashboard</a>
<a class="btn btn-success btn-sm" href="{% url 'workouts:create-workout' %}" role="button">Create a Workout Template</a>
<a class="btn btn-primary btn-sm bg-gradient" href="#" role="button">Your Profile</a>
{% endblock %}

{% block content %}
<h2 style="color: mediumvioletred">
  Workout Templates:
</h2>

{% if user_templates %}

<ul class="list-group">
  {% for template in user_templates %}
  <li class="list-group-item">
    <a class="text-reset" href="{% url 'workouts:view-logs' template.id %}">{{ template }}</a>
  </li>
  <li>
  Created On: {{ template.time_created }} / Total completed: {{ template.total_completed }} 
  </li>
  {% endfor %}
</ul>
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% else %}

<p>There are no workout templates to display.</p>

{% endif %}

{% endblock content %}