{% extends 'base.html' %}

{% block title %} {{ title.athlete_id }}'s logs{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}

<div class="list-group">
    {% for log in logs %}
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ log.log_name }}</h5>
            <small>{{ log.exercise_type }}</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">Weight: {{ log.weight }} kg</p>
            <p class="mb-1">Sets: {{ log.sets }}</p>
            <p class="mb-1">Reps: {{ log.reps }}</p>
        </div>
    </a>

        <div class="sticky-note">
            <h5>Note:</h5>
            <p>{{ log.note }}</p>
        </div>
    <br>
    {% empty %}
    <p>No logs found {{ title.template_name }}</p>
    {% endfor %}
</div>


{% endblock content %}